{% extends 'base.html' %} {% block content %}

{% load crispy_forms_tags %}

<h5>Number of tables: {{ booking.tables }}</h5>
<h5>Date booked:  {{ booking.booking_dates }}</h5>
<h5>Number of Customers: {{ booking.number_of_customers }}</h5>
<h5>Comment: {{ booking.body }}</h5>
<a href="/edit_booking/{{ booking.pk }}">
    <button class="btn btn-signup btn-lg">Edit</button>
</a>
<a href="/delete_booking/{{ booking.pk }}">
    <button class="btn btn-signup btn-lg">Delete</button>
</a>
{% endblock content %}