{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <div class="row">

        <!-- Blog Entries Column -->
       
        
        <div class="col-12 mt-3 left">
            <div class="row">
            {% for booking in booking_list %}
            <div>
                <a href="{% url 'booking_detail' booking.pk %}"><p>Links</p>
                </a>
            </div>
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <h1>{{ booking.body }}</h1>
                        </div>
                    </div>
                </div>
            {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
            {% endif %}
            {% endfor %}
            </div>
            <div>
                <p>Welcome to International Chinese gutter oil cook house Restraunt make a menu under</p>
            
            {% if user.is_authenticated %}
            <button type="button">Book Now!</button>
            {% else %}  
            <p>Please login or register an account to make a booking!</p>
            {% endif %}
            </div>
        </div>
    </div>
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>

{%endblock%}